---
# Ansible playbook to:
#  1. Update apt sources
#  2. Ensure all packages are at their latest versions
#  3. Ensure we have the AU locale
#
#  If SSH has not been hardened, and need to use the root password:
#     ansible-playbook ... --user root --ask-pass
#
#  If SSH has been hardened, we can sign in with public SSH key
#     ansible-playbook ... --user root

- name: Update and upgrade all packages
  hosts: proxmox
  tasks:
    - name: Run apt update
      ansible.builtin.apt:
        update_cache: yes

    - name: Ensure all packages have latest versions
      ansible.builtin.apt:
        name: "*"
        state: latest

    - name: Ensure the AU locale is generated
      ansible.builtin.locale_gen:
        name: "{{ defaults.locale }}"
        state: present
