---
# Ansible playbook to:
#  1. Clone the debian 13 cloud-init template into a new VM
#  2. Set a static IP address for the new VM
#  3. Start the new VM
#  4. Set up a port forward on the router to allow external SSH access to the new VM
#
#  After running, should now be able to SSH to the new VM with:
#   ssh cloudinit@<public_ipv4_address> -p <external_ssh_port>

- name: Create a test Debian VM in Proxmox from the cloud-init template
  hosts: proxmox
  vars:
    vm_name: debian13-test
    vm_id: 150
    template_id: 9000
    # Internal static IP address to assign to the new VM
    ipv4_static_address: "192.168.0.50"
    # Gateway internal address (usually the router IP so we can get to the internet)
    # do `ip route show` on the proxmox host to find out
    ipv4_gateway_address: "192.168.0.1"
    external_ssh_port: 9050

  tasks:
    - name: Provision test VM
      ansible.builtin.include_role:
        name: proxmox_cloudinit_vm
