---
#- name: Validate required variables
#  ansible.builtin.assert:
#    that:
#      - docker_version is defined
#    msg: "Missing a required variable"

- name: Install dependencies
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
    state: present
    update_cache: yes

- name: Add docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Add or remove Docker repository.
  ansible.builtin.deb822_repository:
    name: docker
    types: deb
    uris: "https://download.docker.com/linux/debian"
    suites: "{{ ansible_distribution_release}}"
    components: stable
    signed_by: /etc/apt/keyrings/docker.asc
    state: present

- name: Install Docker
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes

- name: Run the hello-world container to verify installation
  ansible.builtin.command:
    argv:
      - docker
      - run
      - --rm
      - hello-world
