---
- name: Provision the NFS server & Traefik VM on Proxmox
  hosts: proxmox
  roles:
    # Shared config on the Proxmox host that internal VMs can write to and Traefik can watch for changes
    - role: proxmox/create_nfs_share
      vars:
        export_dir: "{{ nfs.export_dir }}"
        ip_range: "{{ nfs.ip_range }}"
    - role: proxmox/provision_vm
      vars:
        vm_id: "{{ traefik.vm_id }}"
        template_id: "{{ templates.debian_13.id }}"
        vm_name: traefik
        vm_ip_address: "{{ traefik.ip_address }}"
        external_ssh_port: "{{ traefik.ssh_port }}"
        gateway_ip_address: "{{ router.ip_address }}"
