---
- name: Provision the VM
  hosts: proxmox
  roles:
    - role: proxmox/provision_vm
      vars:
        vm_id: "{{ vms.jqc_staging.vm_id }}"
        template_id: "{{ vms.jqc_staging.template_id }}"
        vm_name: jqc-staging
        vm_ip_address: "{{ vms.jqc_staging.ip_address }}"
        external_ssh_port: "{{ vms.jqc_staging.ssh_port }}"
        gateway_ip_address: "{{ router.ip_address }}"
        # Need more space for dokku / docker apps
        disk_size: "30G"
        cpu_cores: 2
        ram: "4096" # in MB

- name: Deploy the webserver
  hosts: jqc_staging
  become: true
  roles:
    - role: system/update
    - role: user/create_admin
      vars:
        username: "{{ admin.username }}"
        ssh_public_key: "{{ admin.ssh_public_key }}"
    - role: user/add_user_to_groups
      vars:
        username: "{{ admin.username }}"
        groupnames: ["docker"]
    - role: system/locale
      vars:
        locale: "{{ defaults.locale }}"
    - role: system/harden_ssh
      vars:
        ssh_public_key: "{{ admin.ssh_public_key }}"
        exclusive_access: "no"
        permit_root_login: "no"
    - role: system/fail2ban
    - role: system/unattended_upgrades
    - role: router_port_forward
      vars:
        description: "JQC Staging SSH"
        internal_port: "22"
        external_port: "{{ vms.jqc_staging.ssh_port }}"
        protocol: "TCP"
    - role: mail/postfix_relay
      vars:
        relay_host: "smtp.gmail.com"
        relay_port: 587
        relay_username: "{{ vms.jqc_staging.email.gmail_app_username }}"
        relay_password: "{{ vms.jqc_staging.email.gmail_app_password }}"
        postfix_hostname: jqc-staging
        root_alias: "{{ vms.jqc_staging.email.root_alias }}"
    - role: system/logcheck
    - role: docker/install
      vars:
        # Currently an issue with dokku ambassador docker v29
        # https://github.com/dokku/docker-ambassador/issues/98
        docker_version: "5:28.5.2-1~debian.13~trixie"
    - role: dokku/install
      vars:
        dokku_version: "{{ vms.jqc_staging.dokku_version }}"
        domain: "{{ vms.jqc_staging.domain }}"
        lets_encrypt_email: "{{ admin.lets_encrypt_email }}"
        admin_ssh_key: "{{ admin.ssh_public_key }}"
    - role: dokku/github_deploy
    - role: dokku/graphite
      vars:
        monitoring_domain: "{{ vms.jqc_staging.monitoring.domain }}"
        monitoring_username: "{{ vms.jqc_staging.monitoring.username }}"
        monitoring_password: "{{ vms.jqc_staging.monitoring.password }}"
        gmail_app_username: "{{ vms.jqc_staging.email.gmail_app_username }}"
        gmail_app_password: "{{ vms.jqc_staging.email.gmail_app_password }}"
