---
- name: Destroy all virtual machines
  hosts: proxmox
  tasks:
    - name: Destroy each vm
      include_role:
        name: proxmox/destroy_vm
      loop: "{{ vms }}"
      loop_control:
        loop_var: vm
      vars:
        vm_id: "{{ vm.vm_id }}"

- name: Destroy all VM templates
  hosts: proxmox
  tasks:
    - name: Destroy each template
      include_role:
        name: proxmox/destroy_vm
      loop: "{{ vm_templates }}"
      loop_control:
        loop_var: vm_template
      vars:
        vm_id: "{{ vm_template.template_id }}"
