---
- name: Provision the webserver VM
  hosts: proxmox
  vars:
    vm_name: test-webserver
    vm_id: 150
    template_id: 9000
    ipv4_static_address: "192.168.0.50"
    ipv4_gateway_address: "192.168.0.1"
    external_ssh_port: 9050
  tasks:
    - name: Provision the VM
      ansible.builtin.include_role:
        name: "provision_vm"
