---
- name: Setup the test webserver
  hosts: test_webserver
  become: true
  tasks:
    - name: Install nfs-common package to mount NFS shares
      ansible.builtin.apt:
        name: nfs-common
        state: present
        update_cache: yes

    - name: Create mount point for NFS share
      ansible.builtin.file:
        path: /mnt/traefik-routes
        state: directory

    - name: Add NFS mount to /etc/fstab for persistence
      ansible.builtin.lineinfile:
        path: /etc/fstab
        line: "{{ proxmox.ip_address }}:{{ nfs.export_dir }} {{ nfs.mount_dir }} nfs defaults,_netdev 0 0"
        state: present

    - name: Mount the NFS share from the Proxmox host
      ansible.builtin.mount:
        path: "{{ nfs.mount_dir }}"
        src: "{{ proxmox.ip_address }}:{{ nfs.export_dir }}"
        fstype: nfs
        opts: defaults,_netdev
        state: mounted

    - name: Update package cache and install Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Start and enable Nginx service
      service:
        name: nginx
        state: started
        enabled: true

    - name: Create a simple index.html file
      ansible.builtin.copy:
        dest: /var/www/html/index.html
        content: |
          <html>
          <head><title>Test Webserver</title></head>
          <body>
          <h1>Welcome to the Test Webserver!</h1>
          <p>This is a simple web page.</p>
          </body>
          </html>
        owner: root
        group: root
        mode: "0644"
      notify: restart nginx

    - name: Create Traefik route file
      ansible.builtin.copy:
        dest: "{{ nfs.mount_dir }}/test-webserver.toml"
        content: |
          [http.routers]
            [http.routers.to-test-webserver]
              rule = "Host(`{{ test_webserver.domain }}`)"
              service = "test-webserver-service"
              entryPoints = ["web"]

          [http.services]
            [http.services.test-webserver-service.loadBalancer]
              [[http.services.test-webserver-service.loadBalancer.servers]]
                url = "http://{{ test_webserver.ip_address }}"

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted
