---
#  Playbook to deploy a sandbox VM with dokku
#  that can be used to test out web applications.

- name: Deploy the dokku sandbox webserver
  hosts: dokku_sandbox
  become: true
  roles:
    - role: system/update
    - role: user/create_admin
      vars:
        username: "{{ admin.username }}"
        ssh_public_key: "{{ admin.ssh_public_key }}"
    - role: user/add_user_to_groups
      vars:
        username: "{{ admin.username }}"
        groupnames: ["docker"]
    - role: system/locale
      vars:
        locale: "{{ defaults.locale }}"
    - role: system/harden_ssh
      vars:
        ssh_public_key: "{{ admin.ssh_public_key }}"
        exclusive_access: "no"
        permit_root_login: "no"
    - role: system/fail2ban
    - role: system/unattended_upgrades
