---
- name: Provision the Dokku Sandbox VM
  hosts: proxmox
  roles:
    - role: proxmox/provision_vm
      vars:
        vm_id: "{{ vms.dokku_sandbox.vm_id }}"
        template_id: "{{ vms.dokku_sandbox.template_id }}"
        vm_name: dokku-sandbox
        vm_ip_address: "{{ vms.dokku_sandbox.ip_address }}"
        external_ssh_port: "{{ vms.dokku_sandbox.ssh_port }}"
        gateway_ip_address: "{{ router.ip_address }}"

- name: Deploy the dokku sandbox webserver
  hosts: dokku_sandbox
  become: true
  roles:
    - role: system/update
    - role: user/create_admin
      vars:
        username: "{{ admin.username }}"
        ssh_public_key: "{{ admin.ssh_public_key }}"
    - role: user/add_user_to_groups
      vars:
        username: "{{ admin.username }}"
        groupnames: ["docker"]
    - role: system/locale
      vars:
        locale: "{{ defaults.locale }}"
    - role: system/harden_ssh
      vars:
        ssh_public_key: "{{ admin.ssh_public_key }}"
        exclusive_access: "no"
        permit_root_login: "no"
    - role: system/fail2ban
    - role: system/unattended_upgrades
    - role: router_port_forward
      vars:
        description: "Dokku Sandbox SSH"
        internal_port: "22"
        external_port: "{{ vms.dokku_sandbox.ssh_port }}"
        protocol: "TCP"
    - role: docker/install
    - role: dokku/install
      vars:
        dokku_version: "{{ vms.dokku_sandbox.dokku_version }}"
        domain: "{{ vms.dokku_sandbox.domain }}"
        lets_encrypt_email: "{{ admin.lets_encrypt_email }}"
    - role: dokku/github_deploy
