---
#  If SSH has not been hardened, and need to use the root password:
#     ansible-playbook ... --user root --ask-pass
#
#  If SSH has been hardened, we can sign in with public SSH key
#     ansible-playbook ... --user root

- name: Deploy and configure Proxmox
  hosts: proxmox
  roles:
    - role: system/update
    - role: system/locale
      vars:
        locale: "{{ defaults.locale }}"
    - role: system/harden_ssh
      vars:
        ssh_public_key: "{{ defaults.ssh_public_key }}"
        exclusive_access: "yes"
        # We'll just have a single root user on the Proxmox host
        permit_root_login: "yes"
    - role: system/fail2ban
    - role: mail/postfix_relay
      vars:
        relay_host: "smtp.gmail.com"
        relay_port: 587
        relay_username: "{{ proxmox.email.gmail_app_username }}"
        relay_password: "{{ proxmox.email.gmail_app_password }}"
        postfix_hostname: "{{ proxmox.email.hostname }}"
        root_alias: "{{ proxmox.email.root_alias }}"
  tasks:
    # Create all configured VM templates
    - name: Create VM templates
      ansible.builtin.include_role:
        name: proxmox/create_template
      loop: "{{ vm_templates | dict2items }}"
      loop_control:
        loop_var: vm_template
      vars:
        template_name: "{{ vm_template.key }}"
        image_url: "{{ vm_template.value.image_url }}"
        template_id: "{{ vm_template.value.template_id }}"
