- name: Validate required variables
  ansible.builtin.assert:
    that:
      - username is defined
      - ssh_public_key is defined
    msg: "Missing a required variable"

- name: Create admin user
  ansible.builtin.user:
    name: "{{ username }}"
    state: present
    shell: /bin/bash
    create_home: yes

- name: Add admin to sudo group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: sudo
    append: yes

- name: Set up authorized keys for new user
  ansible.posix.authorized_key:
    user: "{{ username }}"
    key: "{{ ssh_public_key }}"
