- name: Deploy the Traefik VM
  hosts: traefik
  vars:
    traefik_version: "3.5.3"
    traefik_config_dir: "/etc/traefik"
  become: true
  tasks:
    - name: Download Traefik binary
      ansible.builtin.get_url:
        url: "https://github.com/traefik/traefik/releases/download/v{{ traefik_version }}/traefik_v{{ traefik_version }}_linux_amd64.tar.gz"
        dest: /tmp/traefik.tar.gz
        mode: "0644"

    - name: Extract Traefik binary
      ansible.builtin.unarchive:
        src: /tmp/traefik.tar.gz
        dest: /tmp
        remote_src: yes
        creates: /tmp/traefik

    - name: Install Traefik binary
      ansible.builtin.copy:
        src: /tmp/traefik
        dest: /usr/local/bin/traefik
        mode: "0755"
        owner: root
        group: root
        remote_src: yes

    - name: Create Traefik configuration directory
      ansible.builtin.file:
        path: "{{ traefik_config_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Create Traefik main configuration file
      ansible.builtin.template:
        src: files/traefik.yml.j2
        dest: "{{ traefik_config_dir }}/traefik.yml"
        owner: root
        group: root
        mode: "0644"

    - name: Create Traefik routes file
      ansible.builtin.template:
        src: files/routes.yml.j2
        dest: "{{ traefik_config_dir }}/routes.yml"
        owner: root
        group: root
        mode: "0644"

    - name: Create systemd service file for Traefik
      ansible.builtin.template:
        src: files/traefik.service.j2
        dest: /etc/systemd/system/traefik.service
        owner: root
        group: root
        mode: "0644"

    - name: Start and enable Traefik + config watcher services
      ansible.builtin.systemd:
        name: traefik
        state: started
        enabled: yes

    # NOTE: Unfortunately these port forward rules don't always work,
    # the router may need to be configured manually at this point.
    #- name: Claim port 80 for Traefik
    #  ansible.builtin.include_role:
    #    name: "router_port_forward"
    #  vars:
    #    description: "Traefik-VM HTTP"
    #    ip_address: "{{ vms.traefik.ip_address }}"
    #    internal_port: "80"
    #    external_port: "80"
    #    protocol: "TCP"

    #- name: Claim port 443 for Traefik
    #  ansible.builtin.include_role:
    #    name: "router_port_forward"
    #  vars:
    #    description: "Traefik-VM HTTPS"
    #    ip_address: "{{ vms.traefik.ip_address }}"
    #    internal_port: "443"
    #    external_port: "443"
    #    protocol: "TCP"

    - name: Wait for Traefik to be ready
      ansible.builtin.wait_for:
        port: 80
        host: 0.0.0.0
        delay: 2
        timeout: 30

    - name: Restart traefik
      ansible.builtin.systemd:
        name: traefik
        state: restarted
        daemon_reload: yes
