---
# Ansible playbook to setup a VM for Traefik:
#  1. Clone the debian 13 cloud-init template into a new VM
#  2. Set a static IP address for the new VM
#  3. Start the new VM
#  4. Set up a port forward on the router to allow external SSH access to the new VM
#
#  After running, should now be able to SSH to the new VM with:
#   ssh cloudinit@<public_ipv4_address> -p <external_ssh_port>

- name: Create a Debian VM in Proxmox for Traefik
  hosts: proxmox
  vars:
    vm_name: traefik
    vm_id: 149
    template_id: 9000
    ipv4_static_address: "192.168.0.49"
    ipv4_gateway_address: "192.168.0.1"
    external_ssh_port: 9049

  tasks:
    - name: Provision Traefik VM
      ansible.builtin.include_role:
        name: "../roles/provision_vm"
