---
- name: Setup the NFS server on Proxmox host and provision Traefik VM
  hosts: proxmox
  handlers:
    - name: restart nfs
      ansible.builtin.command: exportfs -ra
  tasks:
    - name: Create shared config on the Proxmox host that internal VMs can write to and Traefik can watch for changes
      ansible.builtin.file:
        path: /etc/traefik-routes
        state: directory
        owner: root
        group: root

    - name: Install NFS server
      ansible.builtin.apt:
        name: nfs-kernel-server
        state: present
        update_cache: yes

    - name: Set NFS export
      ansible.builtin.template:
        src: files/exports.j2
        dest: /etc/exports
      vars:
        nfs_export_dir: /etc/traefik-routes
        nfs_ip_range: "192.168.0.0/24"
      notify: restart nfs

    - name: Start and enable NFS
      ansible.builtin.systemd:
        name: nfs-kernel-server
        state: started
        enabled: yes

    - name: Provision the Traefik VM
      ansible.builtin.include_role:
        name: "provision_vm"
      vars:
        vm_name: traefik
        vm_id: 149
        template_id: 9000
        ipv4_static_address: "192.168.0.49"
        ipv4_gateway_address: "192.168.0.1"
        external_ssh_port: 9049
