http:
  routers:
{% for route in vms.traefik.routes %}
    {{ route.domain | replace('.', '-') }}-router:
      rule: "Host(`{{ route.domain }}`)"
      service: {{ route.domain | replace('.', '-') }}-service
      entryPoints:
        - web
        - websecure
{% endfor %}

  services:
{% for route in vms.traefik.routes %}
    {{ route.domain | replace('.', '-') }}-service:
      loadBalancer:
        servers:
          - url: "http://{{ route.destination }}"
{% endfor %}
