---
# Ansible playbook to harden SSH access:
#  1. Disable password authentication for SSH
#  2. Disable root login
#  3. Disable X11 forwarding
#
#  If SSH has not been hardened yet:
#     ansible-playbook ... --user root --ask-pass
#
#  If SSH has been hardened:
#     ansible-playbook ... --user <existing_admin_user> --ask-become-pass

- name: Harden SSH access
  hosts: proxmox
  handlers:
    - name: reload ssh
      ansible.builtin.systemd:
        name: ssh
        state: reloaded
  become: true

  tasks:
    - name: Update sshd_config
      ansible.builtin.template:
        src: files/sshd_config.j2
        dest: /etc/ssh/sshd_config
        backup: true
        validate: "sshd -t -f %s"
      notify: reload ssh
